p {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

body {
    text-align: center;
    background-image: url(https://i.postimg.cc/zvMWDPqv/pexels-prashant-gautam-3783385.jpg)
}

h1 {
    color: #ffffff;
}

i {
    color: #d1d8e0;
}
