body {
    background-color: #CAD3C8;
    font-family: 'Playfair Display', serif;
}

h1 {
    color: #2C3A47;
}

.main {
    text-align: center;
}

.inner-main {
    font-family: 'Playfair Display', serif;
}

i {
    color: #58B19F;
}
